body {
    background-color: #f2f4f7;
    font-family: Arial, sans-serif;
}
.container{
    border: 1px  rgb(80, 87, 73);
 padding-left: 100px;
 padding-bottom: 50px;
 padding-right: 100px; 
 padding-top: 10px;
 margin-top: 0px ;
 margin-left: 1300px;
 margin-right: 100px;
 margin-bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color:#ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#head{
    padding: 10px;
   margin-bottom: 20px;
   margin-top: 10px;;
    color: rgb(0,0, 0);
    font-style: italic;
    font-size: 25px;

}
#email {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#password{
    width:300px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius:5px;
}
#button{
    width:300px;
    padding:10px;
    margin-top:40px;
    color: white;
    margin-bottom: 10px;
    border:1px solid blue;
    background-color:#1877F2;
    border-radius: 5px;
    cursor: pointer;
}
#logo{
    width:240px;
    height: 79.26px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1450px;
}
a{
    text-decoration: none;;
}
    